body {
    background-color: blanchedalmond;

}

header {

    margin-left: 40%;
    
}

a h1 {
    margin-left: 8%;
}

h2 {
    
    margin-left: 6%;
}

div {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

label {
    text-align: center;
    margin-top: 5px;
}

form {
    text-align: center;
    
}



input {
    margin-left: 40%;
    margin-right: 40%;
    border-bottom: 0cm ;
}

.co {
    margin-left: 47%;
}