html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #4d0000;
}

body > .container-fluid, body#connect .container-fluid > .row{
    height: 100%;
}

.img-background{
    background: url("../img/imgLogin.png");
    background-size: cover;
    /*height:723.600px;
     width:568.000px;*/
} 

#bg{
    background: url("../img/accueil.png");
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    z-index: 5;
    /*height:723.600px;
     width:568.000px;*/
} 

.btn-brown, .btn-brown:hover, .btn-brown:focus, .btn-brown:active{
    background-color: #4d0000;
    color: #ffffff;
    text-transform: uppercase;
}

header{
    background-color: #4d0000;
    height: 60px;
    line-height: 60px;
    padding-left: 28px !important;
    color: #fff;
    z-index: 10;
}

nav{
    background-color: #4d0000;
    height: 100%;
    min-width: 230px !important;
    position: absolute;
    left:-180px;
    transition-property: left;
    transition-duration: .5s;
    z-index: 9999;
}

nav.is-active{
    left:0;
}

nav .nav-item{
    padding: 10px 0;
}

nav .nav-item a.nav-link{
    text-transform: uppercase;
    color: #ffffff;
}

h1{
    margin: 30px 0;
}

table.table-bordered{
    border: 3px solid #000;
}

.btn{
    margin: 5px;
    text-transform: uppercase;
    font-size: .7em;
}

.alert{
    margin-top: 50px;
}

#msg{

    z-index: 9999;
    background-color: #4d0000;
    color: #ffffff;
    padding: 15px;
    border-radius: 15px;
    margin-left:36%;
}